{% extends 'music/base.html' %}
{% block title %}Add a New Album{% endblock %}
{% block artist_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            {% if artistAll %}
                {% for artist in artistAll %}
                    <div class="col-sm-4 col-lg-2">
                        <div class="thumbnail">

                            <div class="caption">
                                <h2>{{ artist.name }}</h2>
                                <h2>{{ artist.genre }}</h2>
                                <h2>{{ artist.sex }}</h2>
                                <h2>{{ artist.area }}</h2>
                            </div>
                        </div>
                    </div>
                    {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                {% endfor %}
            {% else %}
                <div class="col-sm-12">
                    <br>
                    <a href="{% url 'music:create_artist' %}">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an artist
                        </button>
                    </a>
                </div>
            {% endif %}


        </div>

    </div>
{% endblock %}
